<tr id="<%= order.id %>">
  <th scope="row" class="text-center">
    <%= order.id %>
  </th>
  <td class="text-center">
       <%if @orders == nil%>
        Aucune commande en cours ou traitée.
      <%else%>
        <%if order.read == true%>
          <%= link_to "Du #{order.created_at.strftime("%d/%m/%Y à %H:%M")}", user_order_path(order), remote: true %>
        <%else%>
          <strong><%= link_to "Du #{order.created_at.strftime("%d/%m/%Y à %H:%M")}", user_order_path(order), remote: true %></strong>
        <%end%>
      <%end%>
    <%end%>
  </td>
  <td class="text-center">
    <%= sprintf('%.2f', order.total_price) %> €
  </td>
</tr> 