<div id="myItem<%=@item.id%>" class="container">
  <div class="row m-1">
    <div class="col-xs-4 mt-auto mb-auto mr-5">
      <% if @item.photo.attached? %>
      <%= image_tag @item.photo , class: "card-img-top" %>
      <% else %>
      <img class="card-img-top" src=<%= @item.image_url %> >
      <% end %>
    </div>
    <div class="card-body pt-0">
      <h4 class="card-title"><%= @item.title %></h4>
      <h6 class="card-subtitle"><b><%= sprintf('%.2f', @item.price) %> €<b></h6>
    </div>
    <div class="col-xs-4">
      <%= link_to "javascript:void(0)", class: "btn btn-primary btn-sm" do %><i class="fa fa-heart"></i><% end %>
      <%= link_to item_path(@item.id), method: :delete, class: "btn btn-outline-dark btn-sm" do %><i class="fa fa-trash"></i><% end %>
    </div>
  </div>
</div>
<hr style="width:80%">
