
<div class = "container-fluid">

  <div class="button-back">
    <ol class="breadcrumb-container">
      <li class="breadcrumb-item">
        <%= link_to "Photographies", root_path, class:"item-breadcrumb" %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @item.title, item_path(@item), class:"item-breadcrumb" %>
      </li>
    </ol>
  </div>

  <div class="container">
    <div class="row display-flex show-picture">
      <div class="col col-md-7">
        <% if @item.photo.attached? %>
        <%= image_tag @item.photo , class: "card-img-top"%>
        <% else %>
        <img class="card-img-top" src=<%= @item.image_url %> alt="Cute cat image"/>
        <% end %>
      </div>
      <div class="col col-md-5 col-md-5-show">
        <div class="card>
          <div class="card-body">
            <h4 class="card-title"><%= @item.title %></h4>
            <p class="card-text"><%= @item.description %> </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Prix de la photographie : <%= sprintf('%.2f', @item.price) %> € </li>
            <li class="list-group-item">Mise en ligne le : <%= @item.created_at.strftime(" %m/%d/%Y") %> </li>
          </ul>
          <div class="card-body text-center">
            <%= link_to "Ajouter au panier", item_path(id: @item), method: :put, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
      <%= link_to " < Retour", :back, class:"font-weight-bold" %>
    </div>
  </div>
