<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <h2 class="h3 mb-3 font-weight-normal text-center">Edit profile</h2>
      <%= form_for(@user, as: @user, url: registration_path(@user), html: { method: :put }) do |f| %>

        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= @user.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="actions mt-5">
          <%= f.submit "Update", class: "btn btn-lg btn-warning btn-block" %>
        </div>
      <% end %>

      <h3 class="h5 m-3 font-weight-normal text-center">Unhappy? Cancel my account</h3>

      <%= button_to "Cancel my account", registration_path(@user), class: "btn btn-sm btn-danger btn-block mb-2", data: { confirm: "Are you sure?" }, method: :delete %>

      <%= link_to "Back to Homepage", :back, class: "btn btn-sm btn-primary btn-block mb-2" %>

      <% render "devise/shared/links" %>
    </div>
  </div>
</div>
