<nav class="navbar navbar-expand navbar-dark bg-primary">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href='<%= new_session_path %>'>HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=gossips_path %>'>GOSSIPS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=cities_path %>'>CITIES</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=team_path%>'>TEAM</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=contact_path%>'>CONTACT US</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to "Profile", profile_path, class: 'btn btn-success m-1', style:'display:block; width: 70px; height: 30px;padding: 4% 2% 2% 2%;'%>
      </li>
      <li class="nav-item active">
        <%= link_to "Log Out", logout_path, class: 'btn btn-danger m-1', style:'display:block; width: 70px; height: 30px;padding: 4% 2% 2% 2%;'%>
      </li>
    </ul>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-4"># <%= @user.first_name.upcase %> 's Bio </h1>
  </div>
</div>

<div class="card text-center m-4 mx-auto" style="width: 80%;">
  <div class="card-body">
    <h4 class="card-title"> <%= @user.first_name.upcase %> <%= @user.last_name.upcase %> </h4>
    <h5 class="card-title"> <%= @user.age%> years old, lives in <a href="<%=city_path %>"><%= @user.city.name %></a> </h5>
<p class="card-text"> A short self-introduction: <br> <%= @user.description%> </p>
<h6 class="card-subtitle mb-2 text-muted"> Email: <%= @user.email %> </h6>
</div>
</div>
