<nav class="navbar navbar-expand navbar-dark bg-primary">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href='<%= new_session_path %>'>HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=gossips_path %>'>GOSSIPS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=cities_path %>'>CITIES</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=team_path%>'>TEAM</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=contact_path%>'>CONTACT US</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="btn btn-success m-1" style="display:block; width: 70px; height: 30px;padding: 4% 2% 2% 2%;">Profile</a>
      </li>
      <li class="nav-item active">
        <%= link_to "Log Out", logout_path, class: 'btn btn-danger m-1', style:'display:block; width: 70px; height: 30px;padding: 4% 2% 2% 2%;'%>
      </li>
    </ul>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-4"># Gossip and the City</h1>
  </div>
</div>
<h3 class="h3 m-5 text-center"> Pick a city to see what they are gossiping about </h3>

<div class="card text-center m-4 mx-auto" style="width: 100%;">
  <div class="card-body">
    <a class="card-title" href="<%= city_path(19)%>"><b>Berlin</b></a>
</div>
</div>

<div class="card text-center m-4 mx-auto" style="width: 100%;">
  <div class="card-body">
    <a class="card-title" href="<%= city_path(51)%>"><b>Amsterdam</b></a>
</div>
</div>

<div class="card text-center m-4 mx-auto" style="width: 100%;">
  <div class="card-body">
    <a class="card-title" href="<%= city_path(12)%>"><b>Oslo</b></a>
</div>
</div>

<div class="card text-center m-4 mx-auto" style="width: 100%;">
  <div class="card-body">
    <a class="card-title" href="<%= city_path(1)%>"><b>Dublin</b></a>
</div>
</div>

<div class="card text-center m-4 mx-auto" style="width: 100%;">
  <div class="card-body">
    <a class="card-title" href="<%= city_path(4)%>"><b>Paris</b></a>
</div>
</div>

<div class="card text-center m-4 mx-auto" style="width: 100%;">
  <div class="card-body">
    <a class="card-title" href="<%= city_path(17)%>"><b>Beijing</b></a>
</div>
</div>

<div class="card text-center m-4 mx-auto" style="width: 100%;">
  <div class="card-body">
    <a class="card-title" href="<%= city_path(2)%>"><b>Warsaw</b></a>
</div>
</div>
