<nav class="navbar navbar-expand navbar-dark bg-primary">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href='<%= new_session_path %>'>HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=gossips_path %>'>GOSSIPS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=cities_path %>'>CITIES</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=team_path%>'>TEAM</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href='<%=contact_path%>'>CONTACT US</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="btn btn-success m-1" style="display:block; width: 70px; height: 30px;padding: 4% 2% 2% 2%;" >Profile</a>
      </li>
      <li class="nav-item active">
        <%= link_to "Log Out", logout_path, class: 'btn btn-danger m-1', style:'display:block; width: 70px; height: 30px;padding: 4% 2% 2% 2%;'%>
      </li>
    </ul>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
    <h1 class="display-4"># <%= @city.name %> City</h1>
  </div>
</div>

<h2 class="h2 m-5 text-center"> People from this city also wrote: </h2>
<% Gossip.all.each do |g| %>
<% if g.user.city.name == @city.name %>
<div class="card text-center m-4 mx-auto" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"><b> <%= g.title.upcase %></b> :  </h5>
<p class="card-text"><%= g.content %> </p>
<h6 class="card-subtitle mb-2 text-muted"> by <%= g.user.first_name %> </h6>

</div>
</div>
<% end %>
<% end %>
